@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Noto Sans Kr', sans-serif; background-color: #fff;
}
hr { border: none; border-bottom: 1px solid gray; margin: 0; padding: 0; }

div#wrap {
  width: 100%; 
  header {
    width: 1320px; margin: 0 auto; display: flex; align-items: center; 
    h1 {
      width: 396px; font-size: 28px; text-align: center; font-weight: 800; padding: 20px; line-height: 1.2; box-sizing: border-box; display: flex; 
    }
    nav {
      width: 924px; font-size: 16px; display: flex; flex-wrap: wrap; align-items: center; padding: 40px 0 20px 0;
      ul.gnb {
        width: 100%; display: flex; align-items: center; background-color: rgb(220, 220, 220);
        li {
          width: 20%; border: 2px solid gray; text-align: center; padding: 10px 0;  box-sizing: border-box;
          &:nth-child(2) {
            border-left: none;
          }
        }
      }
      ul.sub_gnb {
        width: 100%; display: flex; align-items: center; 
        li {
          width: 20%; text-align: center; padding: 16px 0; 
        }
      }
    }
  }
  figure {
    width: 1320px; font-size: 1rem; margin: 0 auto; 
    div.slide {
      width: 100%; 
      a {
        display: block; width: 100%; height: 710px; overflow: hidden; 
        img {
          width: 100%; display: block;
        }
      }
      figcaption {
        width: 100%; box-sizing: border-box; padding: 32px 0; text-align: center; line-height: 1.4; 
      }
    }
  }
  main {
    width: 1320px; height: 1008px; margin: 0 auto; padding-top: 2rem; background-color: aqua;
    > h2 {
      width: 100%; padding: 30px 0; border-top: 1px solid gray; border-bottom: 1px solid gray; text-align: center; font-size: 24px; margin-bottom: 30px;
    }
    section.gallery {
      width: 100%; box-sizing: border-box; display: flex; justify-content: space-between; margin-bottom: 80px;
      article.gallery_left {
        width: 330px; 
        div.gallery_cont {
          width: 100%; height: 392px; line-height: 1.5; 
          &:nth-child(2) {
            margin-top: 32px;
            border-top: 1px solid gray;
            padding-top: 32px;
          }
          a > span {
            display: block; width: 100%; height: 235px; overflow: hidden; background: center/cover url(https://s1.pearlcdn.com/pearlabyss/Upload/Board/202010/30/095b6e1c09220201030095043131) no-repeat;
          }
        }
        h3 {
          width: 100%; margin-top: 16px; font-size: 20px; font-weight: 500;
        }
        p {
          width: 100%; font-size: 12px; 
        }
        button {
          width: 135px; height: 38px; border: 2px solid rgb(136, 178, 245); background-color: transparent; font-size: 12px; margin-top: 16px; border-radius: 12px; cursor: pointer; background: 90% center/12% url(../img/icons8-arrow-96.png) no-repeat;
        }
      }

      article.gallery_center {
        width: 580px; 
        div.gallery_cont {
          width: 100%; height: 100%; line-height: 1.5;
          a > span {
            display: block; width: 100%; height: 692px; overflow: hidden; background: center/cover url(https://s1.pearlcdn.com/pearlabyss/Upload/Board/202010/30/095b6e1c09220201030095043131) no-repeat;
          }
        }
        h3 {
          width: 100%; margin-top: 1rem; font-size: 1.25rem; font-weight: 500;
        }
        p {
          width: 100%; font-size: 0.75rem; 
        }
        button {
          width: 135px; height: 38px; border: 2px solid rgb(136, 178, 245); background-color: transparent; font-size: 12px; margin-top: 16px; border-radius: 12px; cursor: pointer; background: 90% center/12% url(../img/icons8-arrow-96.png) no-repeat;
        }
      }

      article.gallery_right {
        width: 330px; 
        div.gallery_cont {
          width: 100%; height: 392px; line-height: 1.5; 
          &:nth-child(2) {
            margin-top: 32px;
            border-top: 1px solid gray;
            padding-top: 32px;
          }
          a > span {
            display: block; width: 100%; height: 60%; overflow: hidden; background: center/cover url(https://s1.pearlcdn.com/pearlabyss/Upload/Board/202010/30/095b6e1c09220201030095043131) no-repeat;
          }
        }
        h3 {
          width: 100%; margin-top: 16px; font-size: 20px; font-weight: 500;
        }
        p {
          width: 100%; font-size: 12px; 
        }
        button {
          width: 135px; height: 38px; border: 2px solid rgb(136, 178, 245); background-color: transparent; font-size: 12px; margin-top: 16px; border-radius: 12px; cursor: pointer; background: 90% center/12% url(../img/icons8-arrow-96.png) no-repeat;
        }
      }
    }
  }
  section.art_gallery {
    width: 1320px; padding: 50px 0;  display: flex; flex-wrap: wrap; gap: 1%; margin: 0 auto;
    h2 {
      width: 100%; padding: 30px 0; border-bottom: 1px solid gray; text-align: center; font-size: 24px; margin-bottom: 30px;
      span {
        font-size: 12px;
      }
    }
    div.search_gallery_wrap {
      width: 20%; padding: 20px; box-sizing: border-box; border-top: 1px solid gray; border-bottom: 1px solid gray; line-height: 1.8; display: flex; flex-wrap: wrap;
      h3 {
        width: 100%; font-size: 20px; text-align: center; padding: 20px 0 30px; border-bottom: 1px solid gray; margin-bottom: 30px;
      }
      div.search_gallery {
        width: 80%; height: 600px; overflow-y: auto; float: left;
        dl {
          width: 100%;
          dt {
            font-size: 20px;
            &:not(:nth-child(1)) {
              margin-top: 30px;
            }
          }
          dd {
            font-size: 12px;
          }
        }
      }
      div.search_side {
        width: 20%; text-align: center; box-sizing: border-box; line-height: 1.3;
        ol > li {
          width: 100%;
          a {display: block;}
        }
      }
    }
    div.gallery_itmes {
      width: 79%; flex-wrap: wrap; display: flex; gap: 1%;
      span.items {
        display: block; width: 19%; height: 358px; position: relative; 
        &::after {
          content: attr(data-text); display: block; position: absolute; bottom: 0; width: 100%; height: 15%; background-color: #fff; text-align: center; padding-top: 10px; box-sizing: border-box;
        }
        &:nth-child(1) {
          background: center/cover url(http://monthly.chosun.com/upload/1905/1905_340.jpg) no-repeat;
        }
        &:nth-child(2) {
          background: center/cover url(https://img.wkorea.com/w/2018/10/style_5bc047c73e2bb-800x1200.jpg) no-repeat;
        }
        &:nth-child(3) {
          background: center/cover url(https://photo.jtbc.joins.com/news/2018/10/22/20181022131812034.jpg) no-repeat;
        }
        &:nth-child(4) {
          background: center/cover url(https://cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/AGM376T26LM7O4CB2IQUIZ66YE.jpg) no-repeat;
        }
        &:nth-child(5) {
          background: center/cover url(https://blog.kakaocdn.net/dn/bcWdE9/btqThY9Di0b/2VpJaBsLHQnvtNmIMvHMDk/img.png) no-repeat;
        }
        &:nth-child(6) {
          background: center/cover url(https://dimg.donga.com/a/510/0/90/5/wps/SPORTS/IMAGE/2014/03/27/62043336.3.jpg) no-repeat;
        }
        &:nth-child(7) {
          background: center/cover url(https://d2v80xjmx68n4w.cloudfront.net/gigs/0mtCA1634194113.jpg) no-repeat;
        }
        &:nth-child(8) {
          background: center/cover url(https://jmagazine.joins.com/_data/photo/2015/02/3696639864_0BMtU3sK_44.jpg) no-repeat;
        }
        &:nth-child(9) {
          background: center/cover url(https://photo.jtbc.joins.com/news/2018/10/22/20181022131811894.jpg) no-repeat;
        }
      }
    }
  }
  section.nameing {
    width: 1320px; margin: 0 auto;
    p {
      width: 100%; font-size: 32px; text-align: center; padding: 50px 0;
    }
  }
  footer {
    width: 1320px; margin: 0 auto; background-color: black; padding: 50px 0;
  }
}